/*------------------------------------*
	@TRUMPS #COLORS
\*------------------------------------*/

.color-primary {
	color: $primary !important;
}

.color-alt {
	color: $alt !important;
}

.color-green {
	color: $green !important;
}

.color-text {
	color: $text-clr !important;
}

.bg-primary {
	background-color: $primary !important;
}