/*------------------------------------*
	@TRUMPS #HELPERS
\*------------------------------------*/

.clean {
	margin: 0;
	padding: 0;
}

//NO TRANSITION CLASS
.no-transition {
    &,
    * {
        transition: none !important;
    }
}

//NICER AMPERSAND
.amp {
    font-family: Baskerville, Palatino, "Palatino Linotype", "Book Antiqua", serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: normal;
}

//NOWRAP
.nowrap {
    white-space: nowrap;
}


//TEXT
.text-to-xs {
    @media (max-width: $screen-xs) {
         font-size: 14px;
    }
}

.ml-6 {
    margin-left: 60px;
}

.lh-spread {
    line-height: 1.67;
}

.overflow-x {
    overflow-x: hidden;
}