//------------------------------------\\
//  @SETTINGS #FONTS
//------------------------------------//
@font-face{
    font-family:"Proxima N W01 Thin Reg";
    src:url("../fonts/1132129/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix");
    src:url("../fonts/1132129/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix") format("eot"),
        url("../fonts/1132129/0583e751-caca-4cd8-af81-71b2aa5ddbbb.woff2") format("woff2"),
        url("../fonts/1132129/da176885-bee9-49f7-88f0-d7ad9229ddd7.woff") format("woff"),
        url("../fonts/1132129/1861a7b7-09a5-4efd-b681-5214784ded39.ttf") format("truetype");
    font-weight: 300;
}
@font-face{
    font-family:"Proxima N W01 Reg";
    src:url("../fonts/1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src:url("../fonts/1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),
        url("../fonts/1132159/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),
        url("../fonts/1132159/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),
        url("../fonts/1132159/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype");
        font-weight: normal;
}
@font-face{
    font-family:"Proxima N W01 Bold";
    src:url("../fonts/1132183/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
    src:url("../fonts/1132183/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),
        url("../fonts/1132183/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),
        url("../fonts/1132183/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),
        url("../fonts/1132183/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype");
    font-weight: bold;
}
@font-face{
    font-family:"Proxima Nova W01 Medium";
    src:url("../fonts/1529351/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix");
    src:url("../fonts/1529351/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix") format("eot"),
        url("../fonts/1529351/e898042a-5eb9-4810-b578-c3993ab58f0f.woff2") format("woff2"),
        url("../fonts/1529351/cb9d4f02-d326-46b0-a857-930cce057f80.woff") format("woff"),
        url("../fonts/1529351/75cafc03-22e4-41b0-8bc2-1b9081506ecc.ttf") format("truetype");
    font-weight: 600;
}

