//------------------------------------\\
//  @SETTINGS #VARIABLES
//------------------------------------//

//COLORS
$turq: #00aee0;
$bluel: #1865fd;
$blue: #0667da;
$navyl: #324047;
$navy: #2a343a;
$red: #d0021b;
$green: #00ae77;

$greyl: #505a63;
$greyd: #3f4b4f;

$primary: 					$blue;
$alt: 						$navy;

$twilio: #ce333a;
$amazon: #f99600;
$google: #3e87ef;
$equifax: #b02e3f;

// Backgrounds
$bgr: 						#f9fafa;
$bgrd: 						#ebf0f3;
$base-bgr:                  #fff;


// Fonts
$base-font:					'Proxima N W01 Reg';
$bold:						'Proxima N W01 Bold';
$medium:					'Proxima Nova W01 Medium';
$light:						'Proxima N W01 Thin Reg';

$base-font-size:            16px;
$base-line-height:         	1.55;
$base-font-weight:          400;

$text-clr: 					#1d2123;
$text-alt: 					#2a343a;;
$placeholder-clr:			rgba($text-clr,.6);
$link-clr:					$text-alt;
$link-hover:				$primary;

$borderl:					#c7ced3;
$border:					#979797;



// Layout
$space:                     30px;
$radius:					3px;


// Breakpoints
$screen-xs:                 560px;
$screen-sm:                 768px;
$screen-md:                 992px;
$screen-lg:                 1200px;

$breakpoint:     			991px !default;

// Select Text
$selected-text-bgr:			#333;
$selected-text-clr:			#fff;