/*------------------------------------*
	@COMPONENTS #BLOG-SORT
\*------------------------------------*/

.blog-sort-wrap {
	.btns-wrap {
		margin-bottom: 40px;

		@media (max-width: $screen-xs) {
		 	margin-bottom: 30px;
		}
	}
}

.blog-sort {
	display: flex;
	align-items: center;
	margin-bottom: 40px;

	.btn-circle {
		margin-right: 20px;
	}

	a {
		font-size: 15px;
		color: $primary;
	}

	@media (max-width: $screen-xs) {
		margin-bottom: 30px;

	 	.btn-circle {
	 		margin-right: 8px;
	 	}

	 	a {
	 		font-size: 14px;
	 	}
	}
}

	.blog-sort__title {
		font-size: 36px;
		display: flex;
		align-items: baseline;
		margin-bottom: 0;
		margin-right: auto;
		color: $greyd;

		dt {
			font-weight: normal;
			margin-right: 10px;
		}

		dd {
			font-family: $bold;
		}

		@media (max-width: $screen-xs) {
		 	font-size: 18px;

		 	dt {
		 		margin-right: 5px;
		 	}
		}
	}