/*------------------------------------*
	@COMPONENTS #BADGE
\*------------------------------------*/

.badges-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 30px;
	padding-left: 30px;

	@media (max-width: $screen-xs) {
	 	padding-right: 0;
	 	padding-left: 0;
	}
}

	.badge {
		.icon {
			width: 80px;
			height: 80px;
			color: $greyl;
			margin-bottom: 30px;
		}

		@media (max-width: $screen-sm) {
		 	min-width: 50%;

		 	&:nth-child(1),
		 	&:nth-child(2) {
				margin-bottom: 60px;
		 	}
		}
	}

		.badge__dl {
			color: $text-alt;
			text-transform: uppercase;

			dt {
				font-size: 14px;
				line-height: 1.5;
			}

			dd {
				font-size: 46px;
				font-family: $bold;
				margin-bottom: 15px;
			}

			@media (max-width: $screen-md) {
			 	dt {
			 		font-size: 14px;
			 	}
			 	
			 	dd {
			 		font-size: 30px;
			 	}
			}
		}