/*------------------------------------*
	@COMPONENTS #HORIZONTAL-RULE
\*------------------------------------*/

hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border-color: $borderl;

	&.hr-lg {
		margin-top: 80px;
		margin-bottom: 80px;
	}

	@media (max-width: $screen-xs) {
	 	margin-top: 20px;
	 	margin-bottom: 20px;
	}
}

.hr-fade {
	width: 100%;
	margin-top: 120px;
	margin-bottom: 70px;
	height: 1px;
	display: block;
	border: none;
	background-image: linear-gradient(to left, #fff 5%, #a9a9a9 50%, #fff 95%);
	opacity: .5;

	.section & {
		margin-top: 140px;
		margin-bottom: 140px;
	}

	@media (max-width: $screen-xs) {
	 	margin-top: 40px; 
	 	margin-bottom: 40px; 

	 	.section & {
	 		margin-top: 60px;
	 		margin-bottom: 60px;
	 	}
	}

	&--sm {
		margin-top: 70px;
		margin-bottom: 30px;

		@media (max-width: $screen-xs) {
		 	margin-top: 30px;
		}
	}
}

.hr-short {
	width: 100px;
	height: 4px;
	margin: 120px auto;
	background-color: $green;

	&--sm {
		margin-top: 80px;
		margin-bottom: 80px;
	}

	@media (max-width: $screen-sm) {
	 	height: 2px;
	 	margin: 40px auto;
	}
}