/*------------------------------------*
	@COMPONENTS #AOS-ADDITIONAL
\*------------------------------------*/

[data-aos-disable=true] {
	@media (max-width: $screen-xs) {
	 	opacity: 1 !important;
 	    transform: translate(0,0) !important;
	}
}