/*------------------------------------*
	@COMPONENTS #SOCIALS
\*------------------------------------*/

.socials {
	display: flex;
	align-items: center;
}

	.socials__btn {
		min-width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: #fff;
		color: $navy;
		opacity: .5;

		display: flex;
		justify-content: center;
		align-items: center;

		&:not(:last-child) {
			margin-right: 10px;
		}

		.icon {
			width: 16px;
			height: 16px;
		}

		&:hover {
			opacity: 1;
		}
	}