/*------------------------------------*
	@COMPONENTS #COVER
\*------------------------------------*/

.cover {
	min-height: 400px;

	background: {
		size: cover;
		repeat: no-repeat;
		position: center center;
	}
}