/*------------------------------------*
	@COMPONENTS #PARAGRAPH
\*------------------------------------*/

.paragraph {
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 1.55;

	@media (max-width: $screen-xs) {
	 	font-size: 14px;
		line-height: 1.785;
	}
}

.paragraph-xs {
	@media (max-width: $screen-xs) {
	 	font-size: 14px;
		line-height: 1.785;
	}
}