/*------------------------------------*
	@COMPONENTS #RESPONSIVE-DEVIES
\*------------------------------------*/

.responsive-devices {
	display: inline-flex;
	align-items: flex-end;

	.icon {
		width: 24px;
		height: 43px;
		margin-right: 30px;
		margin-left: 30px;

		&-small-screen {
			width: 66px;
			height: 49px;
		}
		&-tablet {
			width: 49px;
			height: 66px;
		}
		&-laptop {
			width: 93px;
			height: 62px;
		}
		&-desktop {
			width: 95px;
			height: 81px;
		}
	}

	@media (max-width: $screen-sm) {
	 	display: none;
	}
}