/*------------------------------------*
	@COMPONENTS #MAIN
\*------------------------------------*/

.main {
	flex: 1 0 auto;
	padding-top: 100px;
	padding-bottom: 120px;
	width: 100vw;
	// overflow-x: hidden;

	background: {
		size: cover;
		position: center top;
	}

	.hero + & {
		padding-top: 40px;
	}

	&--lg {
		padding-top: 100px !important;
	}

	&--move {
		margin-top: -100px;
		padding-top: 200px;
	}

	&--flat {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	@media (max-width: $screen-sm) {
	 	padding-top: 30px;
	 	padding-bottom: 50px;

	 	.hero + & {
	 		padding-top: 20px;
	 	}

	 	&--move {
	 		margin-top: -80px;
	 		padding-top: 120px;
	 	}
	}
}
