/*------------------------------------*
	@COMPONENTS #COLLAPSE
\*------------------------------------*/

.collapse-trigger--text {
	span:first-child {
		display: none;
	}
	span:nth-child(2) {
		display: inline;
	}

	&.collapsed {
		span:first-child {
			display: inline;
		}
		span:nth-child(2) {
			display: none;
		}
	}
}