/*------------------------------------*
	@COMPONENTS #MENU
\*------------------------------------*/

.menu-overlay {
	background-color: rgba($navyl,.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include hide;
	@include trans;
	z-index: 500;

	@media (max-width: $screen-sm) {
	 	.menu-on & {
	 		@include show;
	 	}
	}
}

.menu {
	display: flex;
	align-items: center;
	font-size: 16px;

	> * {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	.btn {
		font-size: 14px;

		.page--color:not(.scrolled) & {
			border-color: #fff;
			color: #fff;

			&:hover {
				background-color: #fff;
				color: $text-clr;
			}
		}
	}

	@media (min-width: $screen-sm + 1) {
	 	.scrolled & {
	 		font-size: 14px;
	 	}
	}

	@media (max-width: $screen-sm) {
	 	flex-direction: column;
	 	position: fixed;
	 	height: 100vh;
	 	max-width: 325px;
	 	width: 100%;
	 	top: 0;
	 	right: 0;
	 	background-color: $navyl;
		font-size: 24px;
	 	color: #fff;
	 	padding: 60px 30px;
	 	overflow-y: auto;
	 	transform: translateX(100%);
	 	@include trans;
	 	z-index: 700;

	 	.menu-on & {
	 		transform: translateX(0);
	 	}

	 	.btn {
	 		display: none;
	 	}
	}
}

	.menu__item {
		text-decoration: none !important;
		font-family: $medium;
		padding-left: 3px;
		padding-right: 3px;
		position: relative;

		&::after {
			content: '';
			background-color: $greyd;
			width: 0;
			height: 2px;
			display: block;
			@include centerH;
			top: 100%;
			margin-top: 8px;
			@include trans;
		}

		&--hidden {
			@media (min-width: $screen-sm + 1) {
			 	display: none;
			}
		}

		&.active {
			&::after {
				width: 100%;
			}

			&:hover {
				color: inherit;
			}
		}

		.page--color:not(.scrolled) & {
			color: #fff !important;

			&::after {
				background-color: #fff;
			}

			&:not(.active):hover {
				opacity: .5;
			}
		}

		@media (max-width: $screen-sm) {
		 	color: #fff;
		 	font-weight: 400;

		 	&:not(:last-child) {
		 		margin-bottom: 20px;
		 		margin-right: 0;
		 	}

		 	&:first-child {
		 		margin-bottom: 30px;
		 	}

		 	&::after {
		 		display: none;
		 	}

		 	.icon {
		 		width: 30px;
		 		height: 30px;
		 	}
		}
	}

	.menu__close {
		background-color: transparent;
		padding: 0;
		color: #fff;
		opacity: .3;
		position: absolute;
		top: 45px;
		right: 25px;

		&:hover {
			opacity: 1;
		}

		@media (min-width: $screen-sm + 1) {
		 	display: none;
		}
	}

.menu-trigger {
	background-color: transparent;
	padding: 0;

	.icon {
		width: 30px;
		height: 30px;
		transition: none;
	}

	.page--color:not(.scrolled) & {
		color: #fff;
	}

	@media (min-width: $screen-sm + 1) {
	 	display: none;
	}
}