/*------------------------------------*
	@COMPONENTS #CARD
\*------------------------------------*/

.card {
	border: none;
	background-color: transparent;
	margin-bottom: 80px;
	display: block;

	.card-flat & {
		margin-bottom: 0 !important;
	}

	@media (max-width: $screen-sm) {
	 	margin-bottom: 60px;
	}

	@media (max-width: $screen-xs) {
	 	margin-bottom: 25px;
	}
}

	.card__cover {
		margin-bottom: 15px;
		display: block;
		background-color: $primary;

		img {
			width: 100%;
		}

		&:hover {
			opacity: .5;
		}

		.row--lg & {
			@media (min-width: $screen-xs + 1) {
			 	margin-bottom: 25px;
			}
		}

		@media (max-width: $screen-xs) {
		 	margin-bottom: 10px;
		}
	}

	.card__suptitle {
		font-family: $medium;
		color: $primary;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.71px;
		margin-bottom: 5px;
		display: block;

		@media (max-width: $screen-xs) {
		 	font-size: 8px;

		 	.card-flat & {
		 		font-size: 12px;
		 	}
		}
	}

	.card__title {
		font-family: $medium;
		font-size: 20px;
		line-height: 1.25;

		.row--lg & {
			@media (min-width: $screen-sm + 1) {
			 	font-size: 28px;
			}
		}

		@media (max-width: $screen-xs) {
		 	font-size: 12px;

		 	.card-flat & {
		 		font-size: 20px;
		 	}
		}
	}


.card-flat {
	@media (max-width: $screen-xs) {
	 	margin-bottom: 30px;
	}
}