/*------------------------------------*
	@COMPONENTS #TITLE
\*------------------------------------*/

.title {
	font-size: 65px;
	text-align: center;
	font-family: $bold;
	letter-spacing: 4.64px;
	color: $text-alt;
	margin-bottom: 60px;

	&--up {
		text-transform: uppercase;
	}

	&--sm {
		font-size: 56px;
		letter-spacing: .86px;
	}

	&--xs {
		font-size: 36px;
		letter-spacing: 0 !important;
	}

	&--xxs {
		font-size: 24px;
		letter-spacing: 0 !important;
		margin-bottom: 20px;
	}

	&--underline {
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 4px;
			background-color: $primary;
			margin: 60px auto;
		}
	}

	&--content {
		font-size: 36px;
		letter-spacing: 0 !important;
		text-align: left;
		margin-bottom: 60px;

		+ p {
			margin-top: -50px;
		}
	}

	.section--dark & {
		color: #fff;
	}

	@media (max-width: $screen-sm) {
	 	font-size: 28px;
	 	letter-spacing: 1px;
	 	margin-bottom: 30px;

	 	&--xs {
	 		font-size: 22px;
	 	}

	 	&--xxs {
	 		font-size: 18px;
	 		margin-bottom: 10px;
	 	}

	 	&--underline {
	 		&::after {
	 			width: 60px;
	 			height: 2px;
	 		}
	 	}
	}
}

.suptitle {
	text-align: center;
	font-size: 12px;
	font-family: $medium;
	letter-spacing: 1.72px;
	text-transform: uppercase;
	color: $primary;
	display: block;
	margin-bottom: 30px;

	&--lg {
		font-size: 14px;
		color: $text-alt;
		letter-spacing: 3.23px;
		margin-bottom: 60px;
	}

	&--xl {
		font-size: 18px;
	}

	@media (max-width: $screen-sm) {
	 	margin-bottom: 20px;

	 	&--lg {
	 		margin-bottom: 30px;
	 		font-size: 10px;
	 	}

	 	&--xl {
	 		font-size: 14px;
	 	}
	}
}

.subtitle {
	font-size: 32px;
	line-height: 1.3125;
	text-align: center;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;

	.title + & {
		margin-top: -40px;
	}

	.subtitle + & {
		margin-top: -90px;
		font-size: 18px;
		margin-bottom: 60px;
	}

	.title--sm + & {
		font-size: 18px;
		max-width: 1000px;
		margin-bottom: 40px;
	}

	.title--xs + &,
	&--xs {
		font-size: 24px;
		max-width: 1000px;
		margin-bottom: 40px;
	}

	&--sm {
		font-size: 20px !important;
	}
	&--xs {
		font-size: 24px !important;
	}

	&--spaced {
		margin-bottom: 100px !important;
	}

	&:last-child {
		margin-bottom: 0 !important;
	}

	&--lg {
		font-size: 18px;
	}

	@media (max-width: $screen-sm) {
	 	font-size: 18px;
	 	margin-bottom: 40px;

	 	.title + & {
			margin-top: -20px;
		}

	 	.title--sm + & {
	 		font-size: 18px;
	 		// font-size: 14px;
	 		// line-height: 1.78;
	 		margin-bottom: 20px;
	 		margin-top: -10px;
	 	}

	 	.title--xs + &,
	 	&--xs {
	 		font-size: 18px;
	 		margin-top: 0;
	 	}

	 	&--sm {
	 		font-size: 16px !important;
	 	}

	 	&--xs {
	 		font-size: 18px !important;
	 	}

	 	.subtitle + & {
			margin-top: -20px;
			font-size: 14px;
			margin-bottom: 30px;
		}

		&--spaced {
			margin-bottom: 40px !important;
		}
	}
}

.title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	.suptitle {
		margin-bottom: 0;
	}

	@media (max-width: $screen-xs) {
	 	margin-bottom: 20px;
	}
}