/*------------------------------------*
	@COMPONENTS #BUTTONS
\*------------------------------------*/

.btn {
	font-size: 16px;
	font-family: $bold;
	border-radius: 3px !important;

	&-primary {
		background-color: $primary;
		border-color: $primary;

		&:hover {
			background-color: darken($primary,10);
			border-color: darken($primary,10);
		}
	}

	&-outline-primary {
		background-color: #fff;
		border-color: $primary;
		color: $primary;

		&:hover {
			background-color: $primary;
			border-color: $primary;
			color: #fff;
		}
	}
	&-outline-light {
		background-color: #f9fafa;
		border-color: #c7ced3;
		color: $text-clr;

		&:hover {
			background-color: $greyd;
			border-color: $greyd;
			color: #fff;
		}
	}

	.icon {
		transition: none;
	}

	.icon-play {
		width: 10px;
		height: 10px;
		margin-top: -2px;
	}
}

.btn-clean {
	background-color: transparent;
	padding: 0;
	border: none;
}

.btn-lg {
	padding-top: 11px;
	padding-bottom: 11px;
}
.btn-sm {
	padding: 3px 10px;
	font-family: $base-font;
	font-size: 15px;

	@media (max-width: $screen-sm) {
	 	font-size: 12px;
	}
}

.btn--min {
	min-width: 200px;

	@media (max-width: 400px) {
	 	width: 100%;
	}
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
	border: 1px solid $greyd !important;
	color: #444;
	background-color: #fff;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	.icon {
		transition: none;
		width: 20px;
		height: 20px;
	}

	&:hover {
		background-color: $primary;
		border-color: $primary !important;
		color: #fff;
	}

	@media (max-width: $screen-xs) {
	 	width: 24px;
	 	height: 24px;

	 	.icon {
	 		width: 10px;
	 		height: 10px;
	 	}
	}
}

.btns-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;

	.btn {
		margin: 5px;
	}
}