/*------------------------------------*
	@COMPONENTS #LINKS
\*------------------------------------*/

.link-icon {
	display: inline-flex;
	align-items: center;

	p & {
		margin-left: 10px;
	}

	.icon {
		width: 10px;
		height: 10px;
		margin-left: 5px;
		margin-top: 3px;
		transition: none;
	}

	@media (max-width: $screen-xs) {
	 	font-size: 14px;

	 	.icon {
	 		width: 8px;
	 		height: 8px;
	 		margin-top: 2px;
	 	}
	}
}