/*------------------------------------*
	@COMPONENTS #FEATURE
\*------------------------------------*/

.features-wrap {
	margin-right: -25px;
	margin-left: -25px;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 25px;
	padding-left: 25px;

	&:not(:last-child) {
		margin-bottom: 60px;
	}

	@media (min-width: $screen-xs + 1) {
		&:not(:nth-child(n+7)) {
			margin-bottom: 80px;
		}	 	
	}
}

	.feature__img {
		min-height: 200px;
		padding-bottom: 30px;

		@media (max-width: $screen-xs) {
		 	min-height: 0;
		}
	}