/*------------------------------------*
	@COMPONENTS #HEADER
\*------------------------------------*/

.header {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 80px;

	position: relative;
	z-index: 600;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@include trans;

	display: flex;
	align-items: center;

	.container-fluid {
		display: flex;
		align-items: center;
	}

	.scrolled & {
		padding-top: 15px;
		padding-bottom: 15px;
		height: 70px;
		background-color: #fff;
		box-shadow: 0 0 50px rgba(#000, .15);
	}

	@media (max-width: $screen-sm) {
	 	padding-top: 40px;
	 	height: 70px;
	 	padding-top: 15px;
	 	padding-bottom: 15px;
	}
}

	.header__logo {
		color: $primary;
		margin-right: auto;
		width: 225px;
		height: 40px;

		&:hover {
			opacity: .5;
		}

		.scrolled & {
			width: 170px;
			height: 30px;
		}

		.logo {
			width: 100%;
			height: 100%;
		}

		.page--color:not(.scrolled) & {
			color: #fff;
		}

		.menu-on & {
			pointer-events: none;
		}

		@media (max-width: $screen-sm) {
		 	width: 170px;
			height: 30px;
		}
	}