/*------------------------------------*
	@COMPONENTS #FOOTER
\*------------------------------------*/

.footer {
	background-color: $navy;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 80px;
	font-size: 16px;

	a:not(.socials__btn) {
		color: #fff;
	}

	.form-control {
		background-color: rgba(#2f65e5,.2);
		border: none;
		font-size: 14px;
		color: #fff;
		
		/*PLACEHOLDER*/
		&::-webkit-input-placeholder {
		   color: rgba(#fff, .5);
		}

		&::-moz-placeholder {
		   color: rgba(#fff, .5);
		   opacity: 1;  
		}

		&:-ms-input-placeholder {  
		   color: rgba(#fff, .5);  
		}
	}

	.form {
		.btn {
			font-size: 14px !important;
		}
	}

	p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	@media (max-width: $screen-sm){
	 	padding: 40px 30px;
	}
}

	.footer__logo {
		display: inline-block;
		margin-bottom: 30px;

		.icon {
			width: 40px;
			height: 40px;	
		}

		&:hover {
			opacity: .5;
		}
	}

	.footer__dl {
		dt {
			font-weight: 300;
			opacity: .4;
			margin-bottom: 5px;
		}

		dd {
			font-size: 22px;
			line-height: 1;
		}
	}

	.footer__title {
		font-family: $bold;
		font-size: inherit;
		margin-bottom: 20px;
	}

	.footer__nav {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px !important;

		@media (max-width: $screen-sm) {
		 	flex-direction: row;
		 	flex-wrap: wrap;

		 	> * {
		 		width: calc(50% - 20px);
		 		margin-right: 20px;
		 	}
		}
	}

	.footer__links {
		font-size: 14px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
		white-space: nowrap;

		li {
			&:not(:last-child) {
				&::after {
					content: '.';
					color: rgba(#fff,.7);
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}

		a {
			color: #8e9aa1 !important;

			&:hover {
				color: #fff !important;
			}
		}
	}

	.footer__copy {
		text-align: right;
		color: rgba(#8e9aa1,.6);
		white-space: nowrap;
	}