/*------------------------------------*
	@COMPONENTS #PROFILE
\*------------------------------------*/

.profile-wrap {
	display: flex;
	justify-content: center;
	margin-top: 60px;

	.profile {
		margin-right: 35px;
		margin-left: 35px;
	}

 	&:not(:last-child) {
 		margin-bottom: 40px;
 	}

 	@media (max-width: $screen-sm) {
 	 	flex-wrap: wrap;
 	 	margin-top: 30px;

 	 	.profile {
 	 		min-width: 25%;
 	 		margin: 30px;
 	 	}
 	}
}

.profile {
	display: flex;
	align-items: center;
	font-size: 16px;

	.article &:first-child {
		margin-top: -35px;
		margin-bottom: 50px;

		@media (max-width: $screen-sm) {
		 	margin-top: -21px;
		 	margin-bottom: 20px;
		}
	}

	&--vertical {
		flex-direction: column;
		text-align: center;
	}

	@media (max-width: $screen-xs) {
	 	font-size: 12px;
	}
}
	.profile__img {
		margin-right: 12px;
		margin-bottom: 0 !important;
		width: 50px;
		height: 50px;

		.profile--vertical & {
			margin-right: 0;
			margin-bottom: 10px !important;

			width: 70px;
			height: 70px;
		}

		@media (max-width: $screen-xs) {
		 	width: 36px;
		 	height: 36px;

		 	.profile--vertical & {
		 		width: 42px;
		 		height: 42px;
		 	}

		 	.profile-wrap & {
		 		width: 90px;
		 		height: 90px;
		 	}
		}
	}

	.profile__name {
		font-family: $medium;
		margin-bottom: 0;

		& + span {
			color: #505a63;
		}

		@media (max-width: $screen-xs) {
		 	font-size: 12px;

		 	.profile-wrap & {
		 		font-size: 14px;
		 	}
		}
	}