/*------------------------------------*
	@COMPONENTS #LOCATION
\*------------------------------------*/

.locations-nav {
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 60px;

	@media (max-width: $screen-xs) {
	 	padding-left: 0;
	 	padding-right: 0;
	 	margin-bottom: 30px;
	}
}

	.location {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $medium;

		img {
			width: 190px;
			height: 190px;
		}

		@media (max-width: $screen-sm) {
			img {
			 	width: 120px;
			 	height: 120px;
			 	margin-bottom: 20px;			
			}
		}
		@media (max-width: $screen-xs) {
			img {
			 	width: 80px;
			 	height: 80px;
			 	margin-bottom: 15px;		
			}
		}
	}

		.location__city {
			color: $primary;
			font-size: 28px;
			margin-bottom: 0;

			@media (max-width: $screen-sm) {
			 	font-size: 20px;
			}
			@media (max-width: $screen-xs) {
			 	font-size: 14px;
			}
		}

		.location__state {
			font-size: 20px;
			color: #8e9aa1;

			@media (max-width: $screen-sm) {
			 	font-size: 14px;
			}
			@media (max-width: $screen-xs) {
			 	font-size: 10px;
			}
		}

.location-info {
	background-color: $bgrd;
	padding: 40px 60px;
	font-size: 24px;

	.icon {
		color: #444;
		width: 30px;
		height: 30px;
		margin-bottom: 15px;
	}

	a {
		font-size: 18px;
		color: $primary;
	}

	dl {
		display: flex;
		margin-bottom: 0;

		dt {
			margin-right: 10px;
		}
	}

	@media (max-width: $screen-sm) {
	 	font-size: 20px;

	 	address {
	 		margin-bottom: 10px;
	 	}

	 	a {
	 		font-size: 14px;
	 	}
	}

	@media (max-width: $screen-xs) {
	 	padding-left: 30px;
	 	padding-right: 30px;
	}
}