/*------------------------------------*
	@COMPONENTS #MODAL
\*------------------------------------*/

.modal-backdrop {
	background-color: #3f4b4f;

	&.show {
		opacity: .9;
	}
}

.modal-dialog {
	max-width: 880px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px);
	width: 100vw;

	@media (min-height: 800px) {
		margin-top: 50px;
		margin-bottom: 50px;
		height: calc(100vh - 100px);
	}
}

.modal-content {
	border-radius: 0;
	border: 10px solid rgba(0, 0, 0, 0.16);
}

.modal-close {
	position: absolute;
	top: 40px;
	right: 40px;
	background-color: transparent;
	padding: 0;
	color: #fff;

	&:hover {
		opacity: .5;
	}

	.icon {
		width: 26px;
		height: 26px;
	}
}