/*------------------------------------*
	@COMPONENTS #OVERLAP
\*------------------------------------*/

.overlap {
	&-all {
		padding-top: 180px;
		margin-top: -130px;
		margin-bottom: -180px;
	}

	&-bottom {
		margin-bottom: 80px;

		&-xl {
			margin-bottom: 130px;
		}
	}

	@media (max-width: $screen-sm) {
	 	&-all {
	 		padding-top: 100px;
	 		margin-top: -60px;
	 		margin-bottom: -180px;
	 	}

	 	&-bottom {
	 		margin-bottom: 0;

	 		&-xl {
	 			margin-bottom: 100px;
	 		}
	 	}
	}
}

	.overlap__item {
		.overlap-bottom & {
			margin-bottom: -80px;
		}
		.overlap-bottom-xl & {
			margin-bottom: -190px;
		}

		@media (max-width: $screen-sm) {
		 	.overlap-bottom & {
		 		margin-bottom: -40px;
		 	}
		 	.overlap-bottom-xl & {
		 		margin-bottom: -120px;
		 	}
		}
	}