/*------------------------------------*
	@COMPONENTS #BANNER
\*------------------------------------*/

.banner {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $primary;
	color: #fff !important;
	text-align: center;
	font-size: 24px;
	font-family: $medium;
	text-decoration: none !important;

	.container {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		line-height: 1.27;
	}

	[class*=icon-angle] {
		width: 10px;
		height: 14px;
		margin-top: 3px;
		@include trans;

		&:last-child {
			margin-left: 10px;
		}
	}

	&:hover {
		background-color: darken($primary, 3);

		[class*=icon-angle] {
			&:last-child {
				margin-left: 40px;
			}
		}
	}

	.icon {
		&:last-child {
			margin-left: 20px;
		}
	}

	@media (min-width: $screen-xs + 1) {
	 	br {
	 		display: none;
	 	}
	}

	@media (max-width: $screen-xs) {
	 	font-size: 22px;
	 	text-align: left;
	 	padding-top: 20px;
	 	padding-bottom: 20px;

	 	.container {
	 		display: flex;
	 		justify-content: space-between;
	 	}
	}
}