/*------------------------------------*
	@COMPONENTS #TESTIMONIAL
\*------------------------------------*/

.testimonial {
	text-align: center;
}

	.testimonial__content {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		max-width: 640px;

		p {
			font-style: italic;
			font-size: 26px;
			margin-bottom: 20px;
		}

		small {
			font-size: 16px;
			color: $greyl;
		}

		@media (max-width: $screen-xs) {
		 	p {
		 		font-size: 24px;
		 	}
		}
	}