/*------------------------------------*
	@COMPONENTS #BOX
\*------------------------------------*/

.box-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.box {
	width: calc(100%/3 - 20px);
	background-color: $bgr;
	margin: 10px;
	min-height: 400px;
	padding: 80px 40px;
	color: $greyl;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.icon {
		width: 100px;
		height: 64px;
		margin-bottom: 40px;
		color: $text-alt;
	}

	@media (max-width: $screen-md) {
	 	width: calc(100%/2 - 20px);
	}

	@media (max-width: $screen-xs) {
		min-height: 340px;
		margin-top: 15px;
		margin-bottom: 15px;
	 	width: calc(100% - 20px);

	 	&:last-child {
	 		margin-bottom: 0;
	 	}
	}
}

	.box__title {
		color: $text-alt;
		font-size: 28px;
		font-family: $medium;

		padding-left: 20px;
		padding-right: 20px;
	}