/*------------------------------------*
	@COMPONENTS #PARTNER
\*------------------------------------*/

.partner {
	background-color: $bgr;
	border-top: 8px solid $borderl;
	min-height: 400px;
	display: flex;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 16px;
	line-height: 1.375;

	> * {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 50%;
		align-items: flex-start;
		padding-left: 50px;
		padding-right: 50px;
	}

	&:not(:last-child) {
		margin-bottom: 45px;
	}

	&--twilio { border-color: $twilio; }
	&--amazon { border-color: $amazon; }
	&--google { border-color: $google; }
	&--equifax { border-color: $equifax; }

	&:nth-child(even) {
		flex-direction: row-reverse;

		.partner__logo {
			align-items: flex-end;
		}
	}

	@media (max-width: $screen-md) {
	 	padding-left: 50px;
	 	padding-right: 50px;
	}

	@media (max-width: $screen-sm) {
	 	padding-left: 0;
	 	padding-right: 0;
	}

	@media (max-width: 640px) {
		min-height: 0;
		padding-bottom: 45px;
	 	flex-direction: column !important;
	 	font-size: 14px;
	 	line-height: 1.78;

	 	&:not(:last-child) {
	 		margin-bottom: 20px;
	 	}

	 	> * {
	 		padding-left: 25px;
	 		padding-right: 25px;
	 	}
	}
}

	.partner__logo {
		img {
			width: 100%;
			max-width: 300px;
		}

		@media (max-width: 640px) {
		 	align-items: center !important;
		 	height: 140px;
		 	padding: 30px;

		 	img {
		 		max-height: 100%;
		 		max-width: 180px;
		 	}
		}
	}

	.partner__title {
		font-size: 20px;
		font-family: $medium;
		margin-bottom: 20px;

		@media (max-width: 640px) {
			display: none;
		}
	}