/*------------------------------------*
	@COMPONENTS #NEWS
\*------------------------------------*/

.article {
	position: relative;
	
	h1 {
		font-size: 36px;
		font-family: $bold;
		margin-bottom: 30px;
		line-height: 1.11;
	}

	h4 {
		margin-bottom: 15px;
		font-size: inherit;
	}

	p:not(.article__info) {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	img:not(.article__logo) {
		margin-bottom: 40px;
	}

	&--sm {
		text-align: left;

		h1 {
			font-size: 24px;
		}
	}

	@media (max-width: $screen-sm) {
		font-size: 14px;

	 	h1 {
	 		font-size: 24px;
	 	}

	 	p:not(.article__info) {
	 		line-height: 1.78;
			
			&:not(:last-child) {
				margin-bottom: 30px;
			}
	 	}

	 	img:not(.article__logo) {
	 		margin-bottom: 30px;
	 	}
	}
}

	.article__logo {
		margin-bottom: 20px;
		max-width: 300px;
		width: 100%;
	}

	.article__info {
		font-size: 17px;
		margin-bottom: 30px;

		.article--sm & {
			margin-bottom: 10px;
		}

		@media (max-width: $screen-sm) {
		 	font-size: 14px;
		 	margin-bottom: 15px;
		}
	}

	.article__nav {
		display: flex;
		justify-content: space-between;
		margin: -20px;

		a {
			color: $primary;
			margin: 20px;
		}

		@media (max-width: $screen-sm) {
		 	font-size: 14px;
		}
	}

.article--block {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 60px;
	border-top: 1px solid $borderl;
	border-bottom: 1px solid $borderl;

	h1 {
		line-height: 1.2;
		margin-bottom: 20px;
	}

	.container {
		max-width: 980px;
 		padding-left: 5px;
 		padding-right: 5px;
	}

	+ .article--block {
		border-top: none;
	}

	@media (max-width: $screen-sm) {
		padding-top: 40px;
		padding-bottom: 40px;

		.article__logo {
		 	max-width: 60%;
		 	max-height: 30px;			
		}
	}
}