/*------------------------------------*
	@COMPONENTS #LOGO
\*------------------------------------*/

.logo {
	fill: currentColor;
	width: 225px;
	height: 41px;

	.hero & {
		width: 486px;
		height: 77px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;

		@media (max-width: $screen-sm) {
		 	display: none;
		}
	}
}