/*------------------------------------*
	@COMPONENTS #CAROUSEL
\*------------------------------------*/

.slick-slide {
	outline: transparent !important;
}

.carousel--avatars {
	max-width: 470px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

	.slick-list {
		padding: 0 !important;
	}
}

	.carousel__avatar {
		border: 2px solid transparent;
		padding: 2px;
		background-color: transparent;
		max-width: 50px;
		height: 50px;
		border-radius: 50%;
		opacity: .5;
		@include trans;

		margin-left: auto;
		margin-right: auto;

		.slick-current & {
			background-color: #fff;
			border-color: $primary;
			opacity: 1;
		}
	}

.carousel--testimonial {
	position: relative;
	padding-right: 50px;
	padding-left: 50px;

	&::before,
	&::after {
		position: absolute;
		top: 0;
		color: #8c969e;
		font-size: 126px;
		line-height: 1;
	}

	&::before {
		content: '“';
		left: 0;
	}
	&::after {
		content: '”';
		right: 0;
	}

	@media (max-width: $screen-sm) {
		padding: 0;
		
	 	&::before,
	 	&::after {
	 		display: none;
	 	}
	}
}