/*------------------------------------*
	@COMPONENTS #FLUID-WRAP
\*------------------------------------*/

.fluid-wrap {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;


	@media (max-width: $screen-sm) {
		&:not(.fludi-wrap--flex) {
		 	img {
		 		width: 150%;
		 	}
		}

		&--flex {
			img {
				max-width: 80%;
			}
		}
	}
}