/*------------------------------------*
	@COMPONENTS #HERO
\*------------------------------------*/

.hero {
	margin-top: -100px;
	min-height: 500px;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: {
		size: cover;
		repeat: no-repeat;
		image: linear-gradient(-45deg, #c44058 0%, #56297c 100%);
	}

	.page--color & {
		color: #fff;

		* {
			color: #fff;
		}
	}

	.container {
		position: relative;
		max-width: 1020px;
		z-index: 10;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&--sm {
		padding-top: 150px;
		min-height: 420px;

		.subtitle {
			max-width: 840px;
		}
	}
	&--lg {
		min-height: 650px;
	}
	&--xl {
		padding-top: 200px;

		.container {
			width: 100%;
			max-width: 1180px;
		}
	}

	&--cover {
		background: {
			size: cover;
			position: center center;
			repeat: no-repeat;
		}

		&::after {
			content: '';
			@include cover;
			background-color: $greyd;
			opacity: .5;
		}
	}

	@media (max-width: $screen-md) {
		min-height: 440px;

		&--lg {
		 	min-height: 480px;
		}
	}

	@media (max-width: $screen-sm) {
		min-height: 360px;

		&--sm {
			padding-top: 120px;
			padding-bottom: 40px;
			min-height: 340px;
		}

		&--lg {
		 	min-height: 360px;
		}

		&--xl {
			padding-top: 150px;
		}
	}

	@media (max-width: $screen-xs) {
		&--lg {
		 	min-height: 240px;
		}
	}
}

.hero--bleed {
	padding-bottom: 0;
	margin-bottom: 120px;

	img {
		margin-bottom: -100px;
	}
}

.hero--split {
	display: flex;
	text-align: left;
	align-items: center;

	.title {
		font-size: 50px;

		@media (max-width: $screen-md) {
		 	font-size: 28px;
			margin-bottom: 50px;
		}

		@media (max-width: $screen-sm) {
		 	margin-bottom: 20px;
		}
	}

	.subtitle {
		font-size: 28px;
		line-height: 1.214;
		padding-right: 30px;
		margin-bottom: 15px;

		@media (max-width: $screen-md) {
		 	font-size: 18px;
		 	margin-bottom: 20px;
		}
	}

	.container {
		padding-top: 60px;
		max-width: 1300px;
		flex-direction: row;
	}

	@media (max-width: $screen-sm) {
		.container {
		 	flex-direction: column;
		}
	}
	@media (max-width: $screen-xs) {
		padding-bottom: 40px;

	 	.container {
	 		padding-top: 20px;
	 	}
	}
}

	.hero__content {
		flex: 11;

		*:not(.btn) {
			text-align: left;
		}

		@media (max-width: $screen-sm) {
		 	margin-bottom: 30px;
		}

		@media (max-width: $screen-xs) {
		 	.btns-wrap {
		 		.btn {
		 			width: 100%;
		 		}
		 	}
		}
	}

	.hero__img {
		padding-left: 50px;
		flex: 10;

		img {
			max-width: 100%;
		}

		@media (max-width: $screen-sm) {
		 	padding-left: 0;
		}
	}