/*------------------------------------*
	@COMPONENTS #LAYOUT
\*------------------------------------*/

.page {
	padding-top: 70px;
	
	&.menu-on {
		overflow: hidden;
	}

	// @media (max-width: $screen-sm) {
	//  	padding-top: 70px;
	// }
}

.row {
	margin-right: -10px;
	margin-left: -10px;

	> * {
		padding-right: 10px;
		padding-left: 10px;
	}

	@media (min-width: $screen-sm + 1) {
		&--lg {
			margin-right: -25px;
			margin-left: -25px;

			> * {
				padding-right: 25px;
				padding-left: 25px;
			}
		}	 	
	}
}

.container,
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;

	@media (max-width: $screen-sm) {
	 	padding-left: 30px;
	 	padding-right: 30px;
	}
}

.container {
	width: 100%;
	max-width: 1180px;

	&--sm {
		max-width: 780px;
	}
	&--md {
		max-width: 1020px;
	}

	@media (max-width: $screen-xs) {
	 	&--shrink {
	 		padding-left: 60px;
	 		padding-right: 60px;
	 	}
	}
}