/*------------------------------------*
	@COMPONENTS #SECTION
\*------------------------------------*/

.section {
	padding-top: 140px;
	padding-bottom: 140px;
	display: flex;
	flex-direction: column;
	max-width: 100vw;

	background: {
		size: cover;
	}

	&--light {
		background-color: #f9fafb;
	}

	&--dark {
		background-image: linear-gradient(140deg, #505a63 0%, #2a343a 100%);
		color: #fff;

		* {
			color: #fff;
		}
	}

	&--flat {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	&--sm {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media (max-width: $screen-sm) {
	 	padding-top: 70px;
	 	padding-bottom: 70px;
	}
} 

	.section__block {
		background-color: rgba(#d8d8d8, .1);
		margin-top: 100px;
		padding-top: 70px;
		padding-bottom: 70px;
		text-align: center;
	}

.section--features {
	.container {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}

	.row {
		margin-bottom: 120px;
		align-items: center;
		text-align: left;

		.title {
			text-align: left;
			font-size: 32px;
			margin-bottom: 20px;
			line-height: 1.25;
		}

		@media (max-width: $screen-xs) {
		 	margin-bottom: 60px;
		}
	}

	.suptitle {
		text-align: left;
		color: $turq;
		margin-bottom: 20px;
	}

	.list-wrap {
		margin-bottom: 60px;
	}
}
