/*------------------------------------*
	@COMPONENTS #SCROLLER
\*------------------------------------*/

.scroller {
	@media (max-width: $screen-lg) {
		max-width: 100%;
		overflow-x: auto;
	 	margin-left: -30px;
	 	margin-right: -30px;
	 	max-width: calc(100% + 60px);
	}

	@media (max-width: $screen-xs) {
	 	img {
	 		height: 100px;
	 	}
	}
}