/*------------------------------------*
	@COMPONENTS #FILTERS
\*------------------------------------*/

.filters {
	display: flex;
	font-size: 16px;
	margin-bottom: 30px;

	.form-group {
		flex: 10;
		margin-bottom: 0;

		display: flex;
		align-items: center;
	}

	.icon-search {
		width: 20px;
		height: 20px;
		color: #444;
		margin-right: 20px;
	}

	select.form-control {
		flex: 1;
		min-width: 160px;
		text-align: right;
	}

	.form-control {
		border: none !important;
		padding: 0;
		font-size: 16px;
	}

	@media (max-width: $screen-xs) {
	 	display: none;
	}
}