@@include('inc/layout/meta_head.html')
<body class="page page--color">
	@@include('inc/layout/partial_header.html',{"id": "blog"})

	<div class="hero hero--lg hero--cover" style="background-image: url('images/hero-blog-01.jpg');"></div>

	<main class="main">
		<div class="container">
			<small class="suptitle">TECHNOLOGY</small>
			<h1 class="title title--sm">Hello Alexa… tell me who has…</h1>
			<p class="subtitle">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus. Donec sit amet luctus eros, ut blandit nibh.
			</p>
			<div class="text-center">
				<a href="#!" class="btn btn-primary btn--min btn-lg">Read More</a>
			</div>
		</div>

		<hr class="hr-fade hr-fade--sm">

		<div class="container">
			<form action="" class="filters">
				<div class="form-group">
					<button type="submit" class="btn-clean">
						<svg role="img" class="icon icon-search"><use xlink:href="icons/icons.svg#icon-search"></use></svg>
					</button>
					<input type="search" class="form-control" placeholder="Search">
				</div>
				<select name="" id="" class="form-control">
					<option value="">All Categories</option>
					<option value="">Technology</option>
					<option value="">Management</option>
					<option value="">Dealerships</option>
				</select>
			</form>

			<div class="row row--lg">
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "01",
						"cat": "Technology",
						"title": "Social Media vestibulum lacus id facilisis."	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "02",
						"cat": "MANAGEMENT",
						"title": "Nulla vestibulum turpis a tristique bibendum."
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "03",
						"cat": "DEALERSHIPS",
						"title": "Dealearships aset lorem ipsum sales."	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "04",
						"cat": "Technology",
						"title": "Hello Alexa… tell me who has…"	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "05",
						"cat": "BUSINESS",
						"title": "Maecenas aliquam vestibulum urna vel ultrices."
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "06",
						"cat": "MARKETING",
						"title": "Why trucks are the best lorem ipsum this year."
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "07",
						"cat": "Technology",
						"title": "Maecenas sem elit, porttitor eget ut, semper sodales nisi."	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "08",
						"cat": "BUSINESS",
						"title": "Perfect credit score contact lorem ipsum"	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "09",
						"cat": "Sales",
						"title": "Dealearships aset lorem ipsum sales."	
					})
				</div>	
			</div>

			<button type="button" class="btn btn-outline-dark btn-block btn-lg">Load More</button>
		</div>
	</main>

	@@include('inc/modules/banner-demo.html')
	@@include('inc/layout/partial_footer.html')
	@@include('inc/layout/meta_foot.html')
</body>
</html>