@@include('inc/layout/meta_head.html')
<body class="page page--color">
	@@include('inc/layout/partial_header.html',{"id": "blog"})

	<div class="hero hero--cover" style="background-image: url('images/hero-blog-02.jpg');">
		<div class="container">
			<small class="suptitle">MARKETING</small>
			<h1 class="title title--sm">Maecenas sem elit, porttitor eget odio ut, semper sodales nisi.</h1>
		</div>
	</div>

	<main class="main pt-0">
		<div class="container container--sm">
			<article class="article">
				@@include('inc/modules/profile.html', {
					"alt": "vertical",
					"img": "default",
					"name": "by DirectMail.io",
					"date": "July 6, 2018"
				})

		        <p>
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus. Donec sit amet luctus eros, ut blandit nibh. Nullam ultricies nisi et ornare dapibus. In ex odio, suscipit sed laoreet vitae, pulvinar nec libero. Pellentesque laoreet, tortor sodales porta ultrices, velit nulla auctor enim, at pretium sapien nisl sit amet tortor. Sed ultricies dui nec justo finibus suscipit non aliquam ex. Duis sollicitudin dui quam, eu dapibus tellus tincidunt non. Vivamus efficitur pretium nibh nec accumsan. Ut volutpat interdum imperdiet. In commodo lectus neque, eget maximus sem dignissim ac. Aliquam dignissim accumsan elementum.
		        </p>
		        <h4>
		        	Phasellus dictum iaculis
		        </h4>
		        <p>
		        	Maecenas sem elit, porttitor eget odio ut, semper sodales nisi. Sed arcu ipsum, facilisis a erat a, eleifend aliquam enim. Ut a feugiat nunc, vel sollicitudin odio. Phasellus dictum iaculis lacus nec varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas aliquam vestibulum urna vel ultrices. Integer dignissim ligula quis auctorxcxcx elementum. Fusce luctus neque sit amet dui bibendum auctor. Maecenas efficitur pharetra metus, vitae accumsan augue elementum eget. Donec quis lectus a mi vehicula condimentum. In egestas ultricies lorem, a feugiat dolor semper at. Fusce consequat ex lorem, ac tincidunt odio vehicula ac. Ut elementum elit dui, eu congue arcu mollis sodales. Morbi eget orci enim. Pellentesque in lobortis purus. Vivamus vestibulum lacus id facilisis tincidunt.
		        </p>
		        <img src="images/article-img.jpg" alt="" class="img-fluid">
		        <p>
		        	Nulla vestibulum turpis a tristique bibendum. In hac habitasse platea dictumst. Fusce interdum, sem quis ultricies consectetur, elit sem tincidunt nulla, a viverra justo nisl consectetur orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed elit niackbh. Nunc cursus turpis id tortor ultrices, non facilisis ipsum feugiat. Maecenas sed urna finibus lorem ornare efficitur vel ac ex. Donec at varius velit. Nulla felis mauris, bibendum nec enim sit amet, tincidunt mattis mi. Morbi maximus, est non molestie pellentesque, justo eros pharetra purus, sed elementum felis eros id metus. Nunc tempus pulvinar ligula, vitae gravida lectus. Morbi in bibendum eros, vitae tristique ex. Vivamus ullamcorper nibh lectus, ut sodales nulla elementum id.
		        </p>

		        <dl class="dl-basic">
		        	<dt>Tags</dt>
		        	<dd><a href="tags.html">Amazon</a></dd>
		        	<dd><a href="tags.html">Alexa</a></dd>
		        	<dd><a href="tags.html">Voice</a></dd>
		        </dl>

		        @@include('inc/modules/profile.html', {
					"alt": "",
					"img": "default",
					"name": "by DirectMail.io",
					"date": "July 6, 2018"
				})
			</article>
		</div>

		<hr class="hr-fade">

		<div class="container">
			<h3 class="suptitle suptitle--lg">You Might ALso Be Interested In...</h3>

			<div class="row">
				<div class="col-6 col-md-3">
					@@include('inc/modules/blog-card.html', {
						"img": "01",
						"cat": "Technology",
						"title": "Social Media vestibulum lacus id facilisis."	
					})
				</div>
				<div class="col-6 col-md-3">
					@@include('inc/modules/blog-card.html', {
						"img": "02",
						"cat": "MANAGEMENT",
						"title": "Nulla vestibulum turpis a tristique bibendum."
					})
				</div>
				<div class="col-6 col-md-3">
					@@include('inc/modules/blog-card.html', {
						"img": "03",
						"cat": "DEALERSHIPS",
						"title": "Dealearships aset lorem ipsum sales."	
					})
				</div>
				<div class="col-6 col-md-3">
					@@include('inc/modules/blog-card.html', {
						"img": "04",
						"cat": "Technology",
						"title": "Hello Alexa… tell me who has…"	
					})
				</div>
			</div>
		</div>
	</main>

	@@include('inc/modules/banner-demo.html')
	@@include('inc/layout/partial_footer.html')
	@@include('inc/layout/meta_foot.html')
</body>
</html>