@@include('inc/layout/meta_head.html')
<body class="page">
	@@include('inc/layout/partial_header.html',{"id": "news"})

	<main class="main">
		<div class="container">
			<h1 class="title title--up">In The News</h1>
			<p class="subtitle">
				Lorem ipsum at consectetur nulland recent press mentions
			</p>

			@@include('inc/modules/news-block.html', {
				"logo": "nytimes",
				"info": "The New York Times, May 9, 2018",
				"title": "The future has been delivered to your mailbox.",
				"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus…"
			})
			@@include('inc/modules/news-block.html', {
				"logo": "techcrunch",
				"info": "TechCrunch, May 9, 2018",
				"title": "Pellentesque in lobortis purus. Vivamus vestibulum lacus id facilisis tincidunt.",
				"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus…"
			})
			@@include('inc/modules/news-block.html', {
				"logo": "herald",
				"info": "Evening Herald, May 9, 2018",
				"title": "Pellentesque in lobortis purus. Vivamus vestibulum lacus.",
				"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus…"
			})
			@@include('inc/modules/news-block.html', {
				"logo": "mashable",
				"info": "Mashable, May 9, 2018",
				"title": "Lorem ipsum dolor sit amet consectetur.",
				"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus…"
			})
			@@include('inc/modules/news-block.html', {
				"logo": "entrepreneur",
				"info": "Entrepreneur, May 9, 2018",
				"title": "Nulla vestibulum turpis a tristique bibendum. In hac habitasse platea dictumst.",
				"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper malesuada lorem. Proin nec dui ornare, pretium dolor in, tincidunt quam. Aenean molestie ipsum a elit tincidunt tempus…"
			})

			<button type="button" class="btn btn-outline-dark btn-block btn-lg">Load More</button>
		</div>
	</main>

	@@include('inc/modules/banner-demo.html')
	@@include('inc/layout/partial_footer.html')
	@@include('inc/layout/meta_foot.html')
</body>
</html>