@@include('inc/layout/meta_head.html')
<body class="page">
	@@include('inc/layout/partial_header.html',{"id": "blog"})

	<main class="main">
 		<div class="container">
			<div class="blog-sort-wrap">
				<div class="blog-sort">
					<button type="button" class="btn-circle">
						<svg role="img" class="icon icon-arrow-left"><use xlink:href="icons/icons.svg#icon-arrow-left"></use></svg>
					</button>
					<dl class="blog-sort__title">
						<dt>Tag:</dt>
						<dd>Voice</dd>
					</dl>

					<a href="#blog-sort__items" class="collapsed collapse-trigger--text" data-toggle="collapse"><span>Show</span><span>Hide</span> All <span class="d-none d-sm-inline">Tags</span></a>
				</div>

				<div class="collapse" id="blog-sort__items">
					<div class="collapse__wrap">
						<div class="btns-wrap">
							<a href="#!" class="btn btn-sm btn-outline-light">The Voice</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Lorem Ipsum</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Amazon</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Habitasse</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Morbi</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Lorem</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Consectetur</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Amazon</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Dolor Sit Amet</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Habitasse</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Morbi</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Adipisicing Elit</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Amazon</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Morbi</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Dolor Sit Amet</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Habitasse</a>
							<a href="#!" class="btn btn-sm btn-outline-light">Morbi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row row--lg">
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "01",
						"cat": "Technology",
						"title": "Social Media vestibulum lacus id facilisis."	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "02",
						"cat": "MANAGEMENT",
						"title": "Nulla vestibulum turpis a tristique bibendum."
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "03",
						"cat": "DEALERSHIPS",
						"title": "Dealearships aset lorem ipsum sales."	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "04",
						"cat": "Technology",
						"title": "Hello Alexa… tell me who has…"	
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "05",
						"cat": "BUSINESS",
						"title": "Maecenas aliquam vestibulum urna vel ultrices."
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "06",
						"cat": "MARKETING",
						"title": "Why trucks are the best lorem ipsum this year."
					})
				</div>	
				<div class="col-6 col-md-4">
					@@include('inc/modules/blog-card.html', {
						"img": "07",
						"cat": "Technology",
						"title": "Maecenas sem elit, porttitor eget ut, semper sodales nisi."	
					})
				</div>
			</div>
		</div>
	</main>

	@@include('inc/modules/banner-demo.html')
	@@include('inc/layout/partial_footer.html')
	@@include('inc/layout/meta_foot.html')
</body>
</html>