/*------------------------------------*
    @BASE #LINKS
\*------------------------------------*/

a {
    outline: none !important;  /* removing outline in Mozilla */
    text-decoration: none;
    cursor: pointer;
    color: $link-clr;
    @include trans;

    &:hover {
    	color: $link-hover;
    }
}