/*------------------------------------*
    @BASE #PAGE
\*------------------------------------*/

html {
    min-height: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    background-color: $base-bgr;
    color: $text-clr;
    min-width: 320px;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    display: flex;
    display: -ms-flexbox;
    flex-direction: column;

    * {
        box-sizing: border-box;
    }
}

//SELECTED TEXT
@include selected-text;