head
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
	title= 'DirectMail.io | ' + currPage
	meta(name="description" content="")
	meta(name="author" content="front-man.com")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

	// Prefetch DNS for external assets (Twitter widgets etc).
	- 
		const externals = [
			'//ajax.googleapis.com',
			'//fonts.googleapis.com',
			'//googleusercontent.com',
			'//www.google-analytics.com'
		];

	each externalItem in externals
		link(rel="dns-prefetch" href=externalItem)

	meta(name="theme-color" content="#2F65E5")

	// Styles
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
	link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	link(rel="stylesheet" href="css/styles.css")
	// Modernizr
	script(src="js/lib/modernizr.js")