//- ICON
//- $name - name of the icon, ex. 'icon-test'
//- $path - path to the icons library. Default is 'icons'
mixin icon($name, $path='icons')
	svg(role="img" class="icon icon-" + $name)
		use(xlink:href=$path+ "/icons.svg#icon-" + $name)

//- ARTICLE
mixin blogCard($img, $category, $title, $link)
	article.card
		a(href=$link).card__cover
			img(src="images/" + $img, alt="")
		a(href="tags.html").card__suptitle= $title
		h3.card__title
			a(href=$link)= $title
