- 
	navCopy = [
		{
			text:'How it Works', 
			url: 'product'
		},
		{
			text:'Features', 
			url: 'features'			
		},
		{
			text:'Blog', 
			url: 'blog'			
		},
		{
			text: 'News',
			url: 'in-the-news'
		},
		{
			text: 'Company',
			url: 'company',
			className: 'menu__item--hidden'
		},
		{
			text: 'Partners',
			url: 'partners',
			className: 'menu__item--hidden'
		},
		{
			text: 'Support',
			url: 'faqs',
		},
		{
			text: 'Contact',
			url: 'contact',
			className: 'menu__item--hidden'
		}
	];

// HEADER
header.header
	.menu-overlay
	.container-fluid
		a.header__logo(href="homepage.html")
			include modules/mod-logo.html
		
		button(type="button").btn-clean.menu-trigger
			+icon('menu')

		nav.menu
			button(type="button").btn-clean.menu__close
				+icon('x')

			a(href="homepage.html").menu__item.menu__item--hidden.mb-5
				+icon('logo')

			each item in navCopy
				//- nav links
				if activeNav == item.text
					a(href=item.url + ".html" class="active").menu__item= item.text
				else
					a(href=item.url + ".html" class=item.className).menu__item= item.text

			a(href="#!").btn.btn-outline-dark Login
// / Header