-
	var footerNav = [
		{
			title: 'Product',
			links:[
				'How it Works',
				'Features',
				'Integrations',
				'Request Demo'
			]
		},
		{
			title: 'Company',
			links: [	
				'About Us',
				'Partners',
				'Blog',
				'News',
				'Contact Us'
			]
		},
		{
			title: 'Support',
			links: [
				'FAQs',
				'Status',
				'Help Center',
				'Brand Assets'
			]
		}
	];

// Footer
footer.footer
	.container
		.row
			.col-md-3
				a(href="homepage.html").footer__logo
					+icon('logo')

				dl.footer__dl
					dt Call Us Today
					dd
						a(href="tel:8772552937") 877-255-2937
				dl.footer__dl.d-none.d-md-block
					dt Follow Us
					dd
						- var socials = ['facebook','twitter','instagram', 'google', 'linkedin'];

						.socials
							each item in socials
								a(href="#!").socials__btn
									+icon('social-' + item)

			//- col-md-2
			each itemNav in footerNav
				.col-md-2
					h3.footer__title= itemNav.title
					ul.footer__nav
						each item in itemNav.links
							li
								a= item
			.col-md-3.flex-column.align-items-end.d-none.d-md-flex
				.d-none.d-sm-block
					h3.footer__title Newsletter
					p 
						| Get lorem ipsum content and marketing ideas delivered straight to your inbox.
					form(action="").form
						.input-group.mb-3
							input(type="text" placeholder="Your Email" area-label="Your Email" area-describedby="subscribe").form-control.form-control--sm
						.input-group-append
							button.btn.btn-primary(type="button")#subscribe Subscribe

				ul.footer__links.mt-auto
					li
						a(href="#!") Privacy Policy
					li 
						a(href="#!") Terms &amp; Conditions

				small.footer__copy &copy; 2008-2018 DirectMail.io All Rights Reserved

		dl.footer__dl.d-block.d-md-none
			dt Follow Us
			dd
				.socials
					.socials
						each item in socials
							a(href="#!").socials__btn
								+icon('social-' + item)




// / Footer