include inc/mixins

//- DECLARATIONS

- var currPage = 'tags';
//- Set active link
- var activeNav = 'Blog';

doctype html

html.no-js(lang="en")
	//- Include head
	include inc/meta-head

	body.page

		//- Include header
		include inc/partial-header

		main.main
			.container
				.blog-sort-wrap
					.blog-sort
						button(type="button").btn-circle
							+icon('arrow-left')
						
						dl.blog-sort__title
							dt Tag:
							dd Voice

						a(href="#blog-sort__items" data-toggle="collapse").collapsed.collapse-trigger--text
							span Show 
							span Hide
							| All
							span.d-none.d-sm-inline Tags

					.collapse#blog-sort__items
						.collapse__wrap
							.btns-wrap
								-
									var collapseNav = [
										'The Voice',
										'Lorem Ipsum',
										'Amazon',
										'Habitasse',
										'Morbi',
										'Lorem',
										'Consectetur',
										'Amazon',
										'Dolor Sit Amet',
										'Habitasse',
										'Morbi',
										'Adipisicing Elit',
										'Amazon',
										'Morbi',
										'Dolor Sit Amet',
										'Habitasse',
										'Morbi'
									];

								each item in collapseNav
									a(href="#!").btn.btn-sm= item

				.row.row--lg

					- 
						var blogCard = [
							{
								img: "blog-01.jpg",
								cat: "Technology",
								title: "Social Media vestibulum lacus id facilisis."	,
								link: 'blog-post.html'
							},
							{

								img: "blog-02.jpg",
								cat: "MANAGEMENT",
								title: "Nulla vestibulum turpis a tristique bibendum.",
								link: 'blog-post.html'
							},
							{

								img: "blog-03.jpg",
								cat: "DEALERSHIPS",
								title: "Dealearships aset lorem ipsum sales."	,
								link: 'blog-post.html'
							},
							{

								img: "blog-04.jpg",
								cat: "Technology",
								title: "Hello Alexa… tell me who has…"	,
								link: 'blog-post.html'
							},
							{

								img: "blog-05.jpg",
								cat: "BUSINESS",
								title: "Maecenas aliquam vestibulum urna vel ultrices.",
								link: 'blog-post.html'
							},
							{

								img: "blog-06.jpg",
								cat: "MARKETING",
								title: "Why trucks are the best lorem ipsum this year.",
								link: 'blog-post.html'
							},
							{

								img: "blog-07.jpg",
								cat: "Technology",
								title: "Maecenas sem elit, porttitor eget ut, semper sodales nisi.",
								link: 'blog-post.html'
							}
						];

					each item in blogCard
						.col-6.col-md-4
							+blogCard(item.img, item.cat, item.title, item.link)
		
		//- Include banner demo
		include inc/modules/mod-banner-demo

		//- Include footer
		include inc/partial-footer

		//- Include meta foot
		include inc/meta-foot




	
