<!-- HEADER -->
<header class="header">
	<div class="menu-overlay"></div>
	<div class="container-fluid">
		<a href="homepage.html" class="header__logo">
			@@include('../modules/logo.html')
		</a>

		<button type="button" class="btn-clean menu-trigger">
			<svg role="img" class="icon icon-menu"><use xlink:href="icons/icons.svg#icon-menu"></use></svg>
		</button>

		<nav class="menu">
			<button type="button" class="btn-clean menu__close">
				<svg role="img" class="icon icon-x"><use xlink:href="icons/icons.svg#icon-x"></use></svg>
			</button>
			
			<a href="homepage.html" class="menu__item menu__item--hidden mb-5">
				<svg role="img" class="icon icon-logo"><use xlink:href="icons/icons.svg#icon-logo"></use></svg>
			</a>
			<a href="product.html" class="menu__item @@if (id === 'howitworks') {active}">How it Works</a>
			<a href="features.html" class="menu__item @@if (id === 'features') {active}">Features</a>
			<a href="blog.html" class="menu__item @@if (id === 'blog') {active}">Blog</a>
			<a href="in-the-news.html" class="menu__item @@if (id === 'news') {active}">News</a>
			<a href="company.html" class="menu__item menu__item--hidden @@if (id === 'company') {active}">Company</a>
			<a href="partners.html" class="menu__item menu__item--hidden @@if (id === 'partners') {active}">Partners</a>
			<a href="faqs.html" class="menu__item @@if (id === 'support') {active}">Support</a>
			<a href="contact.html" class="menu__item menu__item--hidden @@if (id === 'contact') {active}">Contact</a>
			<a href="#!" class="btn btn-outline-dark">Login</a>
		</nav>
	</div>
</header>
<!-- / HEADER -->
