<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="homepage.html" class="footer__logo">
					<svg role="img" class="icon icon-logo"><use xlink:href="icons/icons.svg#icon-logo"></use></svg>
				</a>
                <dl class="footer__dl">
                    <dt>Call Us Today</dt>
                    <dd><a href="tel:8772552937">877-255-2937</a></dd>
                </dl>
                <dl class="footer__dl d-none d-md-block">
                    <dt>Follow Us</dt>
                    <dd>
                        <div class="socials">
                            <a href="#!" class="socials__btn">
								<svg role="img" class="icon icon-social-facebook"><use xlink:href="icons/icons.svg#icon-social-facebook"></use></svg>
							</a>
                            <a href="#!" class="socials__btn">
								<svg role="img" class="icon icon-social-twitter"><use xlink:href="icons/icons.svg#icon-social-twitter"></use></svg>
							</a>
                            <a href="#!" class="socials__btn">
								<svg role="img" class="icon icon-social-instagram"><use xlink:href="icons/icons.svg#icon-social-instagram"></use></svg>
							</a>
                            <a href="#!" class="socials__btn">
								<svg role="img" class="icon icon-social-google"><use xlink:href="icons/icons.svg#icon-social-google"></use></svg>
							</a>
                            <a href="#!" class="socials__btn">
								<svg role="img" class="icon icon-social-linkedin"><use xlink:href="icons/icons.svg#icon-social-linkedin"></use></svg>
							</a>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <h3 class="footer__title">Product</h3>
                <ul class="footer__nav">
                    <li><a href="#!">How it Works</a></li>
                    <li><a href="#!">Features</a></li>
                    <li><a href="#!">Integrations</a></li>
                    <li><a href="#!">Request Demo</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="footer__title">Company</h3>
                <ul class="footer__nav">
                    <li><a href="company.html">About Us</a></li>
                    <li><a href="partners.html">Partners</a></li>
                    <li><a href="#!">Blog</a></li>
                    <li><a href="#!">News</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="footer__title">Support</h3>
                <ul class="footer__nav">
                    <li><a href="#!">FAQs</a></li>
                    <li><a href="#!">Status</a></li>
                    <li><a href="#!">Help Center</a></li>
                    <li><a href="#!">Brand Assets</a></li>
                </ul>
            </div>
            <div class="col-md-3 flex-column align-items-end d-none d-md-flex">
               	<div class="d-none d-sm-block">
               	 	<h3 class="footer__title">Newsletter</h3>
	               	<p>
	               	    Get lorem ipsum content and marketing ideas delivered straight to your inbox.
	               	</p>
	               	<form action="" class="form">
	               	    <div class="input-group mb-3">
	               	        <input type="text" class="form-control form-control--sm" placeholder="Your Email" aria-label="Your Email" aria-describedby="subscribe">
	               	        <div class="input-group-append">
	               	            <button class="btn btn-primary" type="button" id="subscribe">Subscribe</button>
	               	        </div>
	               	    </div>
	               	</form>
               	</div>

               	<ul class="footer__links mt-auto">
               		<li><a href="#!">Privacy Policy</a></li>
               		<li><a href="#!">Terms &amp; Conditions</a></li>
               	</ul>
               	<small class="footer__copy">&copy; 2008-2018 DirectMail.io All Rights Reserved</small>
            </div>
        </div>

        <dl class="footer__dl d-block d-md-none">
            <dt>Follow Us</dt>
            <dd>
                <div class="socials">
                    <a href="#!" class="socials__btn">
						<svg role="img" class="icon icon-social-facebook"><use xlink:href="icons/icons.svg#icon-social-facebook"></use></svg>
					</a>
                    <a href="#!" class="socials__btn">
						<svg role="img" class="icon icon-social-twitter"><use xlink:href="icons/icons.svg#icon-social-twitter"></use></svg>
					</a>
                    <a href="#!" class="socials__btn">
						<svg role="img" class="icon icon-social-instagram"><use xlink:href="icons/icons.svg#icon-social-instagram"></use></svg>
					</a>
                    <a href="#!" class="socials__btn">
						<svg role="img" class="icon icon-social-google"><use xlink:href="icons/icons.svg#icon-social-google"></use></svg>
					</a>
                    <a href="#!" class="socials__btn">
						<svg role="img" class="icon icon-social-linkedin"><use xlink:href="icons/icons.svg#icon-social-linkedin"></use></svg>
					</a>
                </div>
            </dd>
        </dl>
    </div>
</footer>
<!-- / FOOTER -->