<!-- Banner Schedule a Demo -->
<a href="#!" class="banner">
    <div class="container">
        <span>Take a look for yourself. <br>Schedule a demo</span>
        <svg role="img" class="icon icon-angle-right"><use xlink:href="icons/icons.svg#icon-angle-right"></use></svg>
    </div>
</a>
<!-- / Banner Schedule a Demo -->