 <article class="card">
	<a href="blog-post.html" class="card__cover">
		<img src="images/blog-@@img.jpg" alt="">
	</a>
	<a href="tags.html" class="card__suptitle">@@cat</a>
	<h3 class="card__title"><a href="blog-post.html">@@title</a></h3>
</article>