<!-- Modal Video -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modalVideoLabel" aria-hidden="true">
    <button type="button" class="modal-close" data-dismiss="modal">
        <svg role="img" class="icon icon-x"><use xlink:href="icons/icons.svg#icon-x"></use></svg>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/KgMpKsp23yY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- / Modal Video -->