<article class="article article--block">
    <div class="container">
        <img src="images/logos/logo-@@logo.svg" alt="" class="article__logo">
        <p class="article__info">@@info</p>

        <h1><a href="news.html">@@title</a></h1>
        <p>
            @@text
        </p>
    </div>
</article>