<div class="partner partner--@@color">
	<div class="partner__logo">
		<img src="images/logos/logo-@@logo.svg" alt="">
	</div>
	<div class="partner__content">
		<h3 class="partner__title">@@title</h3>
		<p>
			@@text
		</p>
	</div>
</div>