<div class="profile@@if (alt === 'vertical') { profile--vertical}">
	<img src="images/profile-@@img.png" alt="" class="profile__img rounded-circle">
	<div class="profile__content">
		<h5 class="profile__name">@@name</h5>
		<span>@@date</span>
	</div>
</div>